@import "vendors/bootstrap";


$primary-color: #FF6F00;

fieldset {
  border: 1px solid rgba(0, 0, 0, .12);
  padding: 1.5rem;

  legend {
    width: auto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.space {
  height: 1px;
  margin-bottom: 1.5rem;
}

footer {
  padding: 1rem;

  p {
    font-size: .8rem;
    line-height: 1.5rem;
    margin-bottom: 0;
    color: rgba(0, 0, 0, .54);
  }
}

button {
  outline: none !important;
}

.v-input--radio-group {
  margin-top: .4rem !important;
  label {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

.radio-label {
  color: rgba(0,0,0,.54);
  font-size: .85rem;
  margin-top: .28rem;
}

.dimmed {
  opacity: .45;
}

.colored-shadow {
  box-shadow: 0 20px 20px -10px rgba($primary-color, .3) !important;
}

.v-pagination__item {
    //@extend .colored-shadow;
    box-shadow: 0 12px 20px -10px rgba(rgba(0,0,0,.4), .35) !important;
    &--active{
      box-shadow: 0 20px 20px -10px rgba($primary-color, .35) !important;
    }
}

.v-list a {
  text-decoration: none !important;

  &:hover {
    color: $primary-color;
  }
}

.v-avatar * {
  border-radius: 0 !important;
}